@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Open+Sans&display=swap');

body {
	background: linear-gradient(-45deg, #d0bdf4, #a0d2eb, #d0bdf4, #8458b3);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navigation {
	display: flex;
	justify-content: center;
	background-color: #1a1815;
	padding-bottom: 1rem;
}

.nav:hover {
	color: #d0bdf4;
}
.navigation-sub {
	display: flex;
	flex-flow: row;
}

.item {
	color: #d0bdf4;
	margin: 0.5rem 1rem 0 1rem;
	font-family: 'Architects Daughter', cursive !important;
}

.item:hover {
	color: white;
}

.item:active {
	color: white;
	text-decoration: underline;
}

.home-page {
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 20rem;
	flex-flow: column wrap;
}

.home-title {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 4rem;
}

.home-sub-title {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 2.5rem;
}

.home-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 1rem;
}

.about {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

.about-title {
	margin-top: 1rem;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 4rem;
	text-align: center;
}
.about-section {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.25rem;
	display: flex;
	justify-content: center;
	margin-top: 5rem;
}

.description {
	height: 20rem;
	width: 50%;
	display: flex;
	justify-content: center;
}

.description-sub {
	display: flex;
	justify-content: flex-end;
	height: 15rem;
	width: 34rem;
}

.self-image {
	display: flex;
	width: 20rem;
	height: 20rem;
}

.self-image img {
	border-radius: 50%;
	width: 15rem;
	height: 18rem;
}

.skills {
	position: relative;
	display: flex;
	flex-flow: column wrap;
	font-size: 1.5rem;
	margin-top: 3rem;
	font-family: 'Didact Gothic', sans-serif;
}

.skills-title {
	font-size: 2rem;
	font-family: 'Didact Gothic', sans-serif;
	text-align: center;
	margin-bottom: 1.5rem;
}

.skills-list {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 1.5rem;
}

.about-icons {
	display: flex;
	justify-content: space-evenly;
}
