@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Open+Sans&display=swap');

body {
	background: linear-gradient(-45deg, #d0bdf4, #a0d2eb, #d0bdf4, #8458b3);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navigation {
	background-color: #1a1815;
	padding-bottom: 1rem;
}

.nav:hover {
	color: #d0bdf4;
}
.navigation-sub {
	display: flex;
	flex-flow: row;
}

.item {
	color: #d0bdf4;
	margin: 0.5rem 1rem 0 1rem;
	font-family: 'Architects Daughter', cursive !important;
}

.item:hover {
	color: white;
}

.item:active {
	color: white;
}

.home-page {
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 18rem;
	flex-flow: column wrap;
}

.home-title {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 4rem;
}

.home-sub-title {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 2.5rem;
}

.home-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 1rem;
}

.about {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

.about-title {
	margin-top: 1rem;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 4rem;
	text-align: center;
}
.about-section {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.25rem;
	display: flex;
	justify-content: center;
	margin-top: 5rem;
}

.about-description {
	width: 50%;
	display: flex;
	justify-content: center;
	margin: 1rem 0;
}

.self-image {
	display: flex;
	width: 20rem;
	height: 20rem;
}

.self-image img {
	border-radius: 50%;
	width: 15rem;
	height: 18rem;
	border: 1.5px grey solid;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.skills {
	position: relative;
	display: flex;
	flex-flow: column wrap;
	font-size: 1.5rem;
	margin-top: 3rem;
	font-family: 'Didact Gothic', sans-serif;
}

.skills-title {
	font-size: 2rem;
	font-family: 'Didact Gothic', sans-serif;
	text-align: center;
	margin-bottom: 1.5rem;
}

.skills-list {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 1.5rem;
}

.about-icons {
	display: flex;
	justify-content: space-evenly;
}

.project-page-title {
	margin-top: 1rem;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 4rem;
	text-align: center;
}
.project {
	border: 1px black solid;
	box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	font-family: 'Didact Gothic', sans-serif;
	width: 80%;
	margin: 1rem 10%;
}

.project img {
	padding: 1rem;
	height: 18rem;
	width: 100%;
}

.project-image {
	width: 75%;
}

.project-info {
	width: 95%;
	margin: 0 2.5%;
}
.project-title {
	padding-top: 1rem;
	text-align: center;
	font-size: 1.5rem;
}
.project-description {
	display: flex;
	flex-flow: column wrap;
	width: 100%;
}

.links {
	display: flex;
	justify-content: space-evenly;
}

.single-link {
	display: flex;
}

.contact {
	font-family: 'Didact Gothic', sans-serif !important;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	text-align: center;
}

.contact-title {
	margin: 1rem 0 3rem 0;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 3.5rem;
	text-align: center;
}

.resume {
	padding-top: 5rem;
}
.contact-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	padding-top: 2rem;
}

@media only screen and (max-width: 480px) {
	body {
		background: #d0bdf4;
		animation: none;
	}

	.home-page {
		padding-top: 15rem;
	}

	.home-title {
		font-family: 'Didact Gothic', sans-serif;
		font-size: 3rem;
	}

	.home-sub-title {
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1.5rem;
	}

	.about-section {
		font-size: 1rem;
		flex-flow: column wrap;
		justify-content: center;
		margin: 2rem 10% 0 10%;
		width: 80%;
	}

	.self-image {
		display: flex;
		justify-content: center;
		width: auto;
		height: 10rem;
		margin-bottom: 2rem;
	}

	.self-image img {
		border-radius: 50%;
		width: auto;
		height: 10rem;
	}

	.about-description {
		width: auto;
	}

	.skills {
		position: relative;
		display: flex;
		flex-flow: column wrap;
		font-size: 1.5rem;
		margin-top: 3rem;
		font-family: 'Didact Gothic', sans-serif;
	}

	.skills-title {
		font-size: 1.5rem;
		font-family: 'Didact Gothic', sans-serif;
		text-align: center;
		margin-bottom: 1.5rem;
	}

	.skills-list {
		display: flex;
		font-size: 1rem;
		justify-content: space-evenly;
		margin-bottom: 1.5rem;
	}

	.about-title {
		margin-top: 2rem;
		font-size: 2rem;
	}
	.about-icons {
		font-size: 1rem;
	}

	.project {
		flex-flow: column wrap;
		font-family: 'Didact Gothic', sans-serif;
		width: 85%;
		margin: 1rem 7.5%;
	}
	.project img {
		height: 10rem;
		width: 80%;
		margin: 0 10%;
		text-align: center;
	}

	.project-image {
		width: 100%;
	}

	.project-title {
		text-align: center;
		font-size: 1.5rem;
	}
	.project-description {
		display: flex;
		flex-flow: column wrap;
		width: auto;
	}

	.contact {
		width: 80%;
		margin: 0 10%;
	}

	.contact-title {
		margin: 1rem 0 3rem 0;

		font-size: 2rem;
	}

	.contact-buttons {
		padding-top: 4rem;
		font-size: 0.75rem;
	}
}

@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) {
	body {
		background: #a0d2eb;
		animation: none;
	}

	.home-page {
		padding-top: 15rem;
	}

	.home-title {
		font-family: 'Didact Gothic', sans-serif;
		font-size: 3rem;
	}

	.home-sub-title {
		font-family: 'Didact Gothic', sans-serif;
		font-size: 1.5rem;
	}

	.about-section {
		font-size: 1rem;
		flex-flow: column wrap;
		justify-content: center;
		margin: 2rem 10% 0 10%;
		width: 80%;
	}

	.self-image {
		display: flex;
		justify-content: center;
		width: auto;
		height: 10rem;
		margin-bottom: 2rem;
	}

	.self-image img {
		border-radius: 50%;
		width: auto;
		height: 10rem;
	}

	.about-description {
		width: auto;
	}

	.skills {
		position: relative;
		display: flex;
		flex-flow: column wrap;
		font-size: 1.5rem;
		margin-top: 3rem;
		font-family: 'Didact Gothic', sans-serif;
	}

	.skills-title {
		font-size: 1.5rem;
		font-family: 'Didact Gothic', sans-serif;
		text-align: center;
		margin-bottom: 1.5rem;
	}

	.skills-list {
		display: flex;
		font-size: 1rem;
		justify-content: space-evenly;
		margin-bottom: 1.5rem;
	}

	.about-title {
		margin-top: 2rem;
		font-size: 2rem;
	}
	.about-icons {
		font-size: 1rem;
	}

	.project {
		flex-flow: column wrap;
		font-family: 'Didact Gothic', sans-serif;
		width: 85%;
		margin: 1rem 7.5%;
	}
	.project img {
		height: 15rem;
		width: 80%;
		margin: 0 10%;
		text-align: center;
	}

	.project-image {
		width: 100%;
	}

	.contact {
		width: 75%;
		margin: 0 12.5%;
	}

	.contact-title {
		font-size: 2.5rem;
	}
}
